@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-geist-sans), var(--font-geist-mono), sans-serif;
  background-color: #f7fafc;
  margin: 0;
}

main {
  min-height: 'calc(100vh - 56px)';
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.2) inset !important;
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.2) inset !important;
  -webkit-text-fill-color: white !important;
  background-color: transparent !important;
  appearance: none;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  color: white !important;
}

.scrollbar-hide-unless-hover::-webkit-scrollbar {
  height: 0px;
}

.scrollbar-hide-unless-hover:hover::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-hide-unless-hover::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide-unless-hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.yarl__container {
  background-color: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(12px) !important;
}

.yarl__slide_image {
  border-radius: 1rem !important;
}

.yarl__button {
  background: transparent !important;
  box-shadow: none !important;
  filter: none !important;
  padding: 0 !important;
  text-shadow: none !important;
}

.yarl__navigation_prev,
.yarl__navigation_next {
  background: transparent !important;
  box-shadow: none !important;
  filter: none !important;
  padding: 24 16 !important;
  text-shadow: none !important;
}

.yarl__icon {
  background: transparent !important;
  box-shadow: none !important;
  filter: none !important;
  text-shadow: none !important;
}

.yarl__icon svg {
  background: transparent !important;
  box-shadow: none !important;
  filter: none !important;
  text-shadow: none !important;
}

.yarl__toolbar {
  -webkit-backdrop-filter: blur(8px);
  align-items: center !important;
  backdrop-filter: blur(8px);
  background-color: rgba(255 255 255 / 0.2) !important;
  border-radius: 0.5rem;
  display: flex !important;
  gap: 0.5rem !important;
  margin: 1rem;
  padding: 0.5rem 0.75rem;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.tick-credits {
  display: none;
}
